@font-face {
    font-family: "montserrat" ;
    src: url(fonts/Montserrat-Regular.ttf);
    font-style:normal;
    font-weight:100
  }

@font-face {
    font-family: "Rockwell" ;
    src: url(fonts/Rockwell/ROCK.TTF);
    font-style:normal;
    font-weight:100
  }